<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
          <div class='col-md-2'>Filter by:
            <select class='select-option' required [(ngModel)]='selectedYear' (ngModelChange)="onSelectedYear($event)">
              <option class='option' *ngFor='let year of years' [value]="year">{{year}}</option>
            </select>
          </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='locations && locations.length'>
                <thead>
                    <tr>
                      <th>TotalPeople</th>
                      <th>SpedningPerMonth</th>
                      <th>HouseHoldIncome</th>
                      <th>PersonIncome</th>
                      <th>HouseHoldIncomeUnder5K</th>
                      <th>HouseHoldIncomeBetween5KAnd10K</th>
                      <th>HouseHoldIncomeBetween10KAnd15K</th>
                      <th>HouseHoldIncomeBetween15KAnd20K</th>
                      <th>HouseHoldIncomeAbove20K</th>
                      <th>StdZip</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let location of locations'>
                        <td>{{ location.totalPeople }}</td>
                        <td>{{ location.spedningPerMonth }}</td>
                        <td>{{ location.houseHoldIncome }}</td>
                        <td>{{ location.personIncome }}</td>
                        <td>{{ location.houseHoldIncomeUnder5K }}</td>
                        <td>{{ location.houseHoldIncomeBetween5KAnd10K }}</td>
                        <td>{{ location.houseHoldIncomeBetween10KAnd15K }}</td>
                        <td>{{ location.houseHoldIncomeBetween15KAnd20K }}</td>
                        <td>{{ location.houseHoldIncomeAbove20K }}</td>
                        <td>{{ location.stdZip }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
