<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
          <div class='col-md-2'>Filter by:
            <select class='select-option' required [(ngModel)]='selectedYear' (ngModelChange)="onSelectedYear($event)">
              <option class='option' *ngFor='let year of years' [value]="year">{{year}}</option>
            </select>
          </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='locations && locations.length'>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let location of locations'>
                        <td>{{ location.locationId }}</td>
                        <td>{{ location.description }}</td>
                        <td>{{ location.longitude }}</td>
                        <td>{{ location.latitude }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
